/* ++++ style-file: src/root-app/styles.scss [start] */


#root-app.theme-a {
  @import "./styles/reset.scss";
  @import "~common/styles/index.scss";
  @import "./styles/app-styles-theme-a/init-scss/index.scss";

  color: $global-text-color;
  font-family: $global-default-font;

  @include mixin-clearfix;

  * {
    box-sizing: border-box;
  }

  width: 500px;
  height: 550px;
  background: white;

  margin: 0 auto;
  margin-top:60px;
  padding: 13px;

}

/* ++++ style-file: src/root-app/styles.scss [end] */
