html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/embeded-app/styles.main.css')

  body
    div(id="root-container")
    script(src='/javascripts/host.js')
    script(src='/embeded-app/bundle.common.js')
    script(src='/embeded-app/bundle.vendor.js')
    script(src='/embeded-app/bundle.main.js')
