html
  head
    link(rel='stylesheet', href='/modules/style.css')
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    p
      span Welcome to #{title}
    script(src='/javascripts/host.js')
    script(src='/modules/app.js')
