/* ++++ style-file[start] src/common/fonts/roboto/index.css */

@font-face { font-family: 'RobotoThin';    src: local('Roboto Thin'),   local('Roboto-Thin'),    url('/embeded-app/fonts/Roboto-Thin.ttf')    format('truetype'); }
@font-face { font-family: 'RobotoLight';   src: local('Roboto Light'),  local('Roboto-Light'),   url('/embeded-app/fonts/Roboto-Light.ttf')   format('truetype'); }
@font-face { font-family: 'RobotoRegular'; src: local('Roboto'),        local('Roboto-Regular'), url('/embeded-app/fonts/Roboto-Regular.ttf') format('truetype'); }
@font-face { font-family: 'RobotoMedium';  src: local('Roboto Medium'), local('Roboto-Medium'),  url('/embeded-app/fonts/Roboto-Medium.ttf')  format('truetype'); }
@font-face { font-family: 'RobotoBold';    src: local('Roboto Bold'),   local('Roboto-Bold'),    url('/embeded-app/fonts/Roboto-Bold.ttf')    format('truetype'); }
@font-face { font-family: 'RobotoBlack';   src: local('Roboto Black'),  local('Roboto-Black'),   url('/embeded-app/fonts/Roboto-Black.ttf')   format('truetype'); }

/* ++++ style-file[end] src/common/fonts/roboto/index.css */
