/* ++++ style-file: root-infarstructure/style.scss [start] */

@import "~common/styles/index.scss";

:local(.module-style) {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/* ++++ style-file: root-infarstructure/style.scss [end] */
