/* ++++ style-file: src/app-ui/containers/header-control/styles.scss [start] */


#root-app.theme-a {
  @import "~common/styles/index.scss";
  @import "~root-app/styles/app-styles-theme-a/init-scss/index.scss";
  :local(.module-style) {
    @include text__size_body;

    // $height-from: 100px;
    // $height-details: 100px;
    // $height-sentTo: 100px;
    // $height-foot: 40px;

    width: 100%;
    height: 100%;
    fieldset {
      width: 100%;
    }

    position: relative;
    .message {

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      background: hsla(0, 0%, 80%, .8);
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      .wrap-spinner, .alert-message {
        display: flex;
        justify-content: center;
        width: 100%;
      }
      i.fa {
        font-size: 150px;
      }
      .alert-message {
        padding: 10px;
        @include text__size_headline;
      }

    }

    .form-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // outline: solid red 1px;
      // background: red;
      width: 100%;
      height: 35px;
      padding: 0px 15px;
    }

    .left-col, .last-col {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
      height: 30px;
    }

    fieldset {
      @include mixin-clearfix;
      margin-bottom: 10px;
    }
    fieldset.send-to {
      margin-bottom: 0px;
    }

    .wrap-legend {
      width: 100%;
      padding: 0px 10px;
      padding-top: 5px;
      legend, .empty-legend {
        width: 100%;
        border-top: 1px $global-border-color solid
      }
      legend, {
        padding: 10px 0px;
        @include text__size_subheading;
      }
    }

    .group {
      padding: 5px 0px;
      width: 100%;
      background: $materialDesign-grey200;
    }


    .send-to {
      .form-row {
        $w-img: 100px;
        $w-change: 150px;

        height: 90px;;
        .wrap-outter-img {
          width: $w-img;
        }
        .wrap-name {
          width: calc( 100% - #{$w-img} - #{$w-change} );
        }
        .wrap-change {
          width: $w-change;
        }
      }

      .wrap-img {
        padding: 2px;
        width: 86px;
        height: 86px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px $global-border-color solid;

        .wrap-inner-img {
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-radius: 50%;
          img {
            width: 80px;
          }
        }
      }
    }


    select,  input {
      width: 100%;
      height: 30px;
    }

    .wrap-button {
      padding: 10px;
      .send-button {
        // @include text__size_button;
        border-radius: 2px;
        height: 30px;
        background: $materialDesign-blue800;
        color: white;
        border-color: transparent;
        float: right;
      }
    }

  }
}

/* ++++ style-file: src/app-ui/containers/header-control/styles.scss [end] */
