/* ++++ style-file: main.less [start] */

// @import "~common/styles/index.less";
@import "~common/styles/index.scss";

// /* Root Container Reset [begin] */
//   * {
//     box-sizing: border-box;
//   }
//
//   html {
//     height: 100%;
//   }
//
//   body {
//     height: 100%;
//   }
//
//   #root-container {
//     height: 100%;
//     @include mixin-clearfix;
//   }
// /* Root Container Reset [completed] */

// :local(.module-style) {
// }

#root-container {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

/* ++++ style-file: main.less [end]   */
